@import url(modules/_ normalize.css);
* {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  background-color: #86868a;
  color: #fff; }

nav .primary-nav {
  width: 100%;
  height: 12%;
  float: right;
  border-top: 2px solid white; }
  nav .primary-nav ul {
    width: 20%;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    z-index: 3; }
  nav .primary-nav li {
    padding-right: 20px;
    width: 50px;
    height: 50px;
    float: right; }
  nav .primary-nav a {
    text-decoration: none;
    font-weight: 300;
    font-size: .8rem; }

nav {
  display: table-cell;
  vertical-align: middle;
  border-top: 2px solid white;
  font-size: 16pt; }

nav ul {
  float: right;
  margin-right: 0;
  list-style-type: none;
  color: white;
  vertical-align: middle;
  text-align: center;
  opacity: 1;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 4%; }

nav ul li {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  padding: 10px 0px 10px 25px;
  margin: 10px 15px 10px 15px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-left: 1px solid white;
  opacity: 1; }

nav ul :first-child {
  border-left: none; }

nav ul li a {
  color: white;
  font-weight: 300;
  text-decoration: none; }

.site-header {
  display: table;
  position: fixed;
  width: 100%;
  height: 12%;
  background-color: rgba(54, 54, 61, 0.6);
  z-index: 4;
  margin-left: -8px;
  margin-top: -15px;
  border-top: 1px solid white;
  padding: 0; }
  .site-header__logo__graphic img {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 10%;
    opacity: 1;
    z-index: 5; }

.large-hero {
  height: 100vh;
  width: 57%;
  margin-left: auto;
  margin-right: auto; }

.btn {
  border-radius: 3px;
  margin: 0;
  border: none;
  color: white;
  font-size: 15pt;
  padding-top: 0;
  padding-bottom: 2%;
  width: 50%;
  margin-top: 2%;
  text-decoration: none; }

.btn-btn-wide {
  width: 100%;
  height: 25%;
  margin-top: 3%; }

.btn-btn-orange {
  background-color: #f27c36;
  opacity: 1;
  color: white; }
  .btn-btn-orange img {
    margin-right: 4%;
    position: relative;
    top: 6px; }

p {
  margin-top: 0; }

.modal-container {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  width: 22%;
  height: 85%;
  max-width: 400px;
  right: 1.5%;
  top: 13%;
  padding: 1%;
  border-radius: 18px;
  -webkit-transform: translate(150%, 0);
  -ms-transform: translate(150%, 0);
  transform: translate(150%, 0);
  -webkit-transition: transform 200ms ease-out;
  -ms-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out; }

.modal:before {
  content: "";
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: 0px; }

.modal:target:before {
  display: block; }

.modal:target .modal-container {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.chat-title {
  width: 100%;
  border-bottom: 2px solid white;
  padding-bottom: 2%; }

.chat-title p {
  color: white;
  font-size: 20pt;
  opacity: 1;
  display: inline;
  margin-left: 4%; }

.chat-box {
  margin-top: 1%;
  height: 76%;
  overflow: scroll; }

.chat-form {
  position: relative;
  height: 20%;
  top: 1%; }
  .chat-form textarea {
    height: 50%;
    width: 100%;
    resize: none; }
    .chat-form textarea span {
      position: relative; }

.form-chat {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; }
  .form-chat form {
    background-color: rgba(54, 54, 61, 0.6);
    padding: 8%; }
    .form-chat form input {
      text-align: center;
      height: 5%;
      width: 50%;
      border-radius: 3px;
      border: none;
      font-size: 13pt;
      padding-top: 1%;
      padding-bottom: 1%; }
