p {
  margin-top: 0;
}

.modal-container {
  position: fixed;
  background-color: rgba(255,255,255,.6);
  width: 22%;
  height: 85%;
  max-width: 400px;
  right:1.5%;
  top: 13%;
  padding: 1%;
  border-radius: 18px;
  -webkit-transform: translate(150%, 0);
  -ms-transform: translate(150%, 0);
  transform: translate(150%, 0);

  -webkit-transition: transform 200ms ease-out;
  -ms-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
}

.modal:before {
  content: "";
  position:fixed;
  display: none;
  background-color:rgba(0,0,0,.8);
  top: 0;
  left:0;
  height:100%;
  width: 100%;
  margin-top: 0px;
}

.modal:target:before {
  display:block;
}

.modal:target .modal-container {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.chat-title {
  width: 100%;
  border-bottom: 2px solid white;
  padding-bottom: 2%;
}
.chat-title p{
  color: white;
  font-size: 20pt;
  opacity: 1;
  display: inline;
  margin-left: 4%;
}

.chat-box {
  margin-top: 1%;
  height: 76%;
  overflow: scroll;
}
